<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>iGorj</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/nav.css">
    <link rel="stylesheet" href="styles/homepage.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/media-queries.css">
    <link rel="stylesheet" href="pwp.css">


    <link rel="stylesheet" href="styles/skewed-header.css">
    <link rel="stylesheet" href="styles/page-container.css">
    <link rel="stylesheet" href="styles/square-grid.css">
    <link rel="stylesheet" href="styles/helpers.css">
    <link rel="stylesheet" href="styles/usu.css">
    <link rel="stylesheet" href="styles/nane.css">


    <link rel="stylesheet" href="styles/contact.css">
    <link rel="stylesheet" href="styles/form.css">
    <link rel="stylesheet" href="styles/buttons.css">
    <link rel="stylesheet" href="styles/spa.css">
    <link rel="stylesheet" href="styles/localstorage.css">


</head>
<body>
<header>
<div class="navigation-wrapper">

    <div class="left-column">
        <div class="icon">
            <i class="fas fa-phone-volume"></i>
        </div>

        <div class="contact-hours-wrapper">
            <div class="phone">
                +40755745608
            </div>

            <div class="hours">
                ANYTIME
            </div>

        </div>
    </div>

    <div class="center-column">
        <div class="banner-image">
            <img src="images/logos/iGorj.png" alt="Logo">
        </div>

        <div class="links-wrapper">
            <div class="nav-link">
                <a href="#home">Home</a>
            </div>

            <div class="nav-link">
                <a href="#about">About</a>
            </div>

            <div class="nav-link">
                <a href="#projects">Projects</a>
            </div>

            <div class="nav-link">
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>

    <div class="right-column">
        <div class="address-wrapper">
            <a href="https://www.usu-the-man.com/">
                Usurelu Florian Robert<br>
                usu-the-man
            </a>
        </div>

        <div class="contact-icon">
            <a href="https://www.usu-the-man.com/">
                <i class="fas fa-university"></i>
            </a>
        </div>
    </div>
    <aside>
        iGorj
    </aside>

</div>
</header>




<!--HOME AICI-->



<div id = "home" class = "page">
    <div class="hero-section">
        <div class="top-heading">
            <h1> - be a better you - </h1>
        </div>

        <div class="bottom-heading">
            <h3><svg viewbox="0 0 100 20">
                <defs>
                    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                        <stop offset="5%" stop-color="#326384"/>
                        <stop offset="95%" stop-color="#123752"/>
                    </linearGradient>
                    <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                        <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                            <animateTransform
                                    attributeName="transform"
                                    begin="0s"
                                    dur="1.5s"
                                    type="translate"
                                    from="0,0"
                                    to="40,0"
                                    repeatCount="indefinite" />
                        </path>
                    </pattern>
                </defs>
                <text text-anchor="middle" x="50" y="15" font-size="11" fill="url(#wave)"  fill-opacity="0.8">EVOLVE WITH US</text>
                <text text-anchor="middle" x="50" y="15" font-size="11" fill="url(#gradient)" fill-opacity="0.4">EVOLVE WITH US</text>
            </svg></h3>
        </div>
    </div>

    <div>
        <iframe src="https://maps.google.com/maps?q=targu%20jiu&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>




<!--ABOUT AICI-->



<div id = "about" class = "page">
    <div class="skewed-header">
        <div class="header-bg" style="background-image: url('images/backgrounds/poli.jpg');"></div>

        <div class="skewed-header-wrapper">
            <div class="skewed-header-content">
                <div class="heading-wrapper">
                    <h1 class = "usu">About Us</h1>
                </div>


            </div>
        </div>
    </div>

    <div class="page-container">
        <div class="content-wrapper">
            <img src="images/about/mentorat.jpg" alt="mentorat" id="chef">

            <p>Te-ai plictisit acasa? Iti oferim alternativa pentru a nu irosi timpul. In decursul a 3 saptamani vom organiza 3 runde/ teme de cate 4 ore. Prima runda se va desfasura pe 2 mai de la 10:00 la 14:00.
                Dupa fiecare runda, vom intra pe Google Meets (vom posta link) si va vom prezenta solutiile problemelor, va vom prezenta si alte
                probleme in afara de cele din runda si vom raspunde la intrebari (practic o pregatire).
                Cand cele 3 runde se vor fi incheiat, vom selecta aleator 5 participanti in activitatile acestea (runde + editoriale), carora le vom oferi sansa unei simulari de interviu sau unei pregatiri individuale.
                Publicul tinta: elevii de liceu sau studentii de facultate. De mentionat ca din cauza COVID-19, din ce in ce mai multe facultati iau in calcul admiterea pe baza de interviu.
                Problemele din runda vor avea nivel de dificultate gradual de la foarte usor la greu (toate dificultatile regasindu-se in fiecare runda, rundele fiind concursuri virtuale pe www.infoarena.ro ).
                De mentionat: aceste activitati sunt gratuite (putand participa in esenta orice doritor). Voluntarii care vor organiza sunt: Usurelu Florian, Chichirim Stelian si Vlasiu Flavius.
                Cei ce sunt interesati, va rugam sa intrati in grupul de facebook dedicat acestui subiect: https://www.facebook.com/groups/2405237949767484</p>

        </div>
    </div>

    <div class="spacer60"></div>

    <div class="squares-wrapper">
        <div class="squares">
            <div class="square">
                <div class="img-wrapper">
                    <img src="images/about/cntv.jpg" alt="cntv">
                </div>

                <div class="square-text-wrapper">
                    <h2>Realitatea bate filmul din capul tau</h2>

                    <p>     iGorj este un proiect de conferinte, întâlniri informale, al carui scopi este împartatirea experientelor subiective si academice, punerea în discutie a unor teme cu profund substrat educational, profesional, social.</p>
                </div>
            </div>
            <div class="square">
                <div class="square-text-wrapper">
                    <h2>You don't get chances, you take them</h2>

                    <p>Felicitari echipei iGorj pentru premiul obtinut la Concursul International AGM! Echipa formata din Giovani Popescu, Mihai Popescu si Razvan Valentin se afla in clasamentul cumulat al celor 2 zile de competitie pe locul 9 din cele 27 echipe oficiale. Coordonatorul echipei este Prof. Eugen Nodea.
                        De mentionat:
                        -> iGorj a fost singura echipa oficiala care a rezolvat problema MousePad;
                        -> in competitie au participat (neoficial, prin invitatie), echipe reprezentante ale universitatilor din Oxford, Bucuresti, Iasi, Cluj si Timisoara
                        -> participarea celei de-a 2-a echipe gorjene RuntimeTerror, formata din Iulia Groza, Tedi Dinuta si Bogdan Prunescu; este prima editie din cele 6 de pana acum cand avem 2 echipe in finala
                    </p>
                </div>

                <div class="img-wrapper">
                    <img src="images/about/agm.jpg" alt="agm">
                </div>
            </div>
        </div>
    </div>
</div>




<!--CONTACT AICI-->



<div id = "contact" class = "page">
    <div class="skewed-header">
        <div class="header-bg" style="background-image: url('images/backgrounds/radu.jpg');"></div>

        <div class="skewed-header-wrapper">
            <div class="skewed-header-content">
                <div class="heading-wrapper">
                    <h1 class = "usu">Contact</h1>
                </div>

            </div>
        </div>
    </div>

    <div class="page-container">
        <div class="contact-grid-wrapper">
            <div class="company-metadata-sidebar-wrapper">
                <div class="logo">
                    <img src="images/logos/logoGJ.png" alt="Logo">
                </div>

                <div class="company-details-wrapper">
                    <i class="fas fa-map-marker-alt"></i>

                    <div>
                        Targu - Jiu
                    </div>
                </div>
                <div class="company-details-wrapper">
                    <i class="fas fa-phone-volume"></i>

                    <div>
                        +407455745608
                    </div>
                </div>
                <div class="company-details-wrapper">
                    <i class="far fa-clock"></i>

                    <div>
                        Whenever you want
                    </div>

                </div>
            </div>

            <div class="form">
                <div class="form-group">
                    <input type="text" id="fullName" placeholder="Your name">
                    <label for="fullName">Your name</label>

                </div>

                <div class="form-group">
                    <input type="email" id="email" placeholder="Your email">
                    <label for="email">Your email</label>
                </div>

                <div class="form-group">
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                    <label for="message">Message</label>
                </div>

                <div class="spacer10"></div>

                <div class="center-btn-wrapper">
                    <button type="submit" class="btn" href="mailto:usureluflorianr@gmail.com">Send</button>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer60"></div>
</div>




<!--PROJECTS AICI-->



<div id = "projects" class = "page">
    <div class="skewed-header">
        <div class="header-bg" style="background-image: url('images/backgrounds/project.jpg');"></div>

        <div class="skewed-header-wrapper">
            <div class="skewed-header-content">
                <div class="heading-wrapper">
                    <h1 class = "usu">Projects</h1>
                </div>

            </div>
        </div>

    </div>
    <div>
        <div class="projects-container" id="projects-body">

        </div>
        <fieldset>
            <legend>Add your project</legend>
            <input class="inputMIC" id="inpProj" type="text" placeholder="Enter Project Name...">
            <br>
            <input class="inputMare" id="inpText" type="text" placeholder="Describe Your Project...">
            <br>

            <button class="buttonThink" type="button" id="btnAdd">ADD</button>
        </fieldset>
    </div>


    <div class>
        <h2 id="title">Ganduri de la tine pentru tine</h2>

        <fieldset>
            <legend>Your project</legend>
            <input class="inputMIC" id="inpKey" type="text" placeholder="Enter Project Name...">
            <br>
            <input class="inputMare" id="inpValue" type="text" placeholder="Describe Your Project...">
            <br>

            <button class="buttonThink" type="button" id="btnInsert">THINK LOWDER</button>
        </fieldset>

        <fieldset>
            <legend>Your projects</legend>
            <div id="lsOutput"></div>
        </fieldset>

        <button class="buttonClear" type="button" id="btnClear">Clear</button>


        <br><br><br>

    </div>

</div>



<!--FOOTER AICI-->


<footer>
<div class="footer">
    <div class="logo-footer">
        <img src="images/logos/logoGJ.png" alt="Logo">
    </div>

    <br>

    <div class="social-media-icons-wrapper">
        <a href="https://www.instagram.com/usu_the_man/">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="https://www.youtube.com/channel/UCc9SLmnsBOPDV2p6rCuOWyA?view_as=subscriber">
            <i class="fab fa-youtube"></i>
        </a>

        <a href="https://www.facebook.com/iGorj0101">
            <i class="fab fa-facebook-f"></i>
        </a>

        <a href="https://www.linkedin.com/in/florian-usurelu-a05aa0122/">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/usureluflorianr">
            <i class="fab fa-github"></i>
        </a>
    </div>

    <div class="copyright-wrapper">
        &copy; 2020 usu-the-man &#124; All rights reserved
    </div>
</div>
</footer>

<script type="text/javascript" src="js/localstorage.js"></script>
<script src="js/primu.js"></script>


</body>
</html>